* {
  margin: 0;
  padding: 0;
}
.outer-container {
  position: relative;
  max-width: 1200px;
  margin: 35px auto;
  text-align: center;
}
#image-page-view .button {
  display: block;
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
#image-page-view #leftBtn {
  left: 0;
  background-image: url("../images/left.png");
}
#image-page-view #rightBtn {
  right: 0;
  background-image: url("../images/right.png");
}
#image-page-view #tags {
  margin-top: 16px;
  padding: 10px;
  height: 20px;
}
#image-page-view .tag {
  margin: 3px;
  padding: 7px 10px;
  background-color: #ccc;
}
#imageslist-view a {
  display: inline-block;
  width: 220px;
  margin: 6px;
}
